@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


.header-nav{
    background-color:#38a800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.senalogo{
    width: 100px;
    margin-left: 40px;
}

.header-nav .logo .img{
    height: 70px;
    width: 10px;
}

.header-nav .nav-links{
    list-style: none;

}

.header-nav .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header-nav .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.banner2{
    margin-right: 30px;
}

.contenedornav{
    display: flex;
    justify-content: center;
}

.logo{
    padding: 25px;
    align-content: center;
}

.columnanav{
    padding: 25px;
    align-content: center;
}

.columnanav p{
    color: white;
    font-size: 22px;
}