{% load static %}
<div style="width:auto;overflow:auto" class="w3-white mx-auto">
    <div class="w3-bar w3-black">
        <a href="/" class="w3-bar-item w3-button w3-mobile"><img width=20px src="/static/img/img/inicio.webp">&nbsp;Inicio</a>
        <a href="{% url 'loadings' %}" class="w3-bar-item w3-button w3-mobile">Subir Listas</a>
        <a href="{% url 'administracion' %}" class="w3-bar-item w3-button w3-mobile">Administrador</a>
        {% if user.is_authenticated %}
            <a href="{% url 'userLogout' %}" class="w3-bar-item w3-button w3-mobile w3-right">Cerrar sesión</a>
        {% endif %}  

        <a href="{% url 'acerca' %}" class="w3-bar-item w3-button w3-mobile  w3-right"><i class="fa fa-search"></i>&nbsp;&nbsp;Acerca de...</a>
    </div>
</div>
