
<H1>Hola {{ first_name }} {{ last_name }}.</H3>
<p style="font-size: 15px;">De la Regional {{ regional }} del centro {{ centro }} y la coordinación de {{ coordinacion }}.</p>
<br> 
<p style="font-size: 15px;">El presente correo es para solicitar que en los siguientes 15 dias a partir de <strong style="font-size: 18px;">{{ fecha_listas }}</strong>, 
    Tenga la bondad de subir las listas de Instructores y Aprendices para que los Aprendices puedan 
    evaluar a los instructores de su Coordinación.</p>
<strong style="font-size: 18px;">Este es el HASH que le permite acceder a la plataforma.</strong>
<h3 style='color:red'> {{ hash }} </h3>
<p style="font-size: 15px;">Para tramitar el suministro de los listados en la seccion de "Coordinadores" encontrara el link para
    descargar los formatos requeridos para subir las listas tanto de los Aprendices como de los Instructores</p>
<strong style="font-size: 15px;">Este es el link para acceder a la aplicacion en cuestion:</strong>
<h3 style='color:blue'> http://localhost:8000/loadings </h3>

<p>Agradecemos su pronta diligencia

    